/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: rgb(1, 1, 50);
}


/******************************************
/* LAYOUT
/*******************************************/
header,footer {
  height: 75px;
  width: 100%;
  border: solid 1px yellow;
}

.art-section {
  width: 100%;
  height: calc(100vh - 150px);
  border: solid 1px red;
  z-index: -1;
  clear: both;
}

.layer-container{
  width: 33.33%;
  height:100%;
  position: relative;
  margin-left: 33%;
  z-index: -1;
  clear: both;
}

.eyes {
  width: 100%;
  height: 100%;
  background-image: url("../images/eyes-box.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  position: relative;
  clear: both;
  
  transform: 
    perspective(800px) 
    rotateY( calc(var(--eyesY) * 0.14deg)) 
    rotateX( calc(var(--eyesX) * 0.14deg));
  transition: transform 0.3s;
}

.art{
  width: 29vw;
  height: 823px;
  background-image: url("../images/mona-lisa-no-eyes.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 33vw;
  /* opacity: .5; */
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
